In [1]:
from peak_warming_calculator import peak_warming_calculator
from peak_warming_calculator_Pretis import peak_warming_calculator_Pretis
from peak_warming_calculator_fast import peak_warming_calculator_fast

In [2]:
import time

## Checking Function is Working

return_all_output=False

In [3]:
s = time.time()

peak_T, output_df = peak_warming_calculator(return_all_output=True, gamma=4)

e = time.time()

/Users/aaron/Documents/oxford_physics/Year_4/MPhys/drivers-of-peak-warming/peak_warming_calc/MAC_functions.py:10: RuntimeWarning: divide by zero encountered in power
  A = Am / (1 + ((P - P0) / (P_h - P0)) ** (-s / r))

In [4]:
peak_T

1.6901955793170502

In [5]:
print(f"run time {e-s}")

run time 18.307976245880127

In [15]:
output_df

              SCC  abatement         T  emissions  SCC actual
years
2020    50.000000   0.000000  1.200000  40.000000   86.140310
2021    52.328113   0.003020  1.218000  39.879219   88.468423
2022    54.697822   0.009673  1.235946  39.613061   90.838132
2023    57.109138   0.019136  1.253772  39.234554   93.249448
2024    59.562100   0.031035  1.271427  38.758599   95.702410
...           ...        ...       ...        ...         ...
2996   300.000000   1.000000  1.690196   0.000000  336.140310
2997   300.000000   1.000000  1.690196   0.000000  336.140310
2998   300.000000   1.000000  1.690196   0.000000  336.140310
2999   300.000000   1.000000  1.690196   0.000000  336.140310
3000   300.000000   1.000000  1.690196   0.000000  336.140310

[981 rows x 5 columns]

In [6]:
s = time.time()

peak_T_fast, output_df_fast = peak_warming_calculator_fast(return_all_output=True, gamma=4)

e = time.time()

4

In [7]:
peak_T_fast

1.6902156841055858

In [8]:
print(f"run time {e-s}")

run time 6.446294069290161

In [14]:
output_df_fast

              SCC  abatement         T  emissions  SCC actual
years
2020    50.000000   0.000000  1.200000  40.000000   86.137075
2021    52.328000   0.003019  1.218000  39.879229   88.465075
2022    54.697593   0.009673  1.235946  39.613092   90.834668
2023    57.108790   0.019135  1.253772  39.234615   93.245865
2024    59.561628   0.031033  1.271427  38.758698   95.698703
...           ...        ...       ...        ...         ...
2996   300.000000   1.000000  1.690216   0.000000  336.137075
2997   300.000000   1.000000  1.690216   0.000000  336.137075
2998   300.000000   1.000000  1.690216   0.000000  336.137075
2999   300.000000   1.000000  1.690216   0.000000  336.137075
3000   300.000000   1.000000  1.690216   0.000000  336.137075

[981 rows x 5 columns]

In [ ]:
peak_T_fast = peak_warming_calculator_fast(gamma=6, P0 = 50, P_50=361.0693359375, s=0.07500000000000001, r=0.025, P_100=490.625, consumption_growth=0.01, consumption_discount=0.025)

In [ ]:
peak_T_fast

In [10]:
peak_T_Pretis, output_df_Pretis = peak_warming_calculator_Pretis(return_all_output=True)

/Users/aaron/Documents/oxford_physics/Year_4/MPhys/drivers-of-peak-warming/peak_warming_calc/peak_warming_calculator_Pretis.py:163: RuntimeWarning: divide by zero encountered in power
  A = Am / (1 + ((P - P0) / (P_h - P0)) ** (-s / r))

In [11]:
peak_T_Pretis

1.3594938864699835

In [12]:
output_df_Pretis

              SCC  abatement         T  emissions  SCC actual
years
2020    50.000000   0.000000  1.200000  40.000000  361.841208
2021    59.662486   0.031565  1.218000  38.737396  371.503694
2022    69.507464   0.095973  1.235432  36.161092  381.348672
2023    79.456009   0.176305  1.251704  32.947806  391.297217
2024    89.459351   0.261956  1.266531  29.521777  401.300559
...           ...        ...       ...        ...         ...
2996   300.000000   1.000000  1.359494   0.000000  611.841208
2997   300.000000   1.000000  1.359494   0.000000  611.841208
2998   300.000000   1.000000  1.359494   0.000000  611.841208
2999   300.000000   1.000000  1.359494   0.000000  611.841208
3000   300.000000   1.000000  1.359494   0.000000  611.841208

[981 rows x 5 columns]